body{
    background-color: rgb(22, 20, 20);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    color: rgb(22, 20, 20);
    background-color: white;
    width:550px;
    padding:40px 30px;
    border-radius: 4px;
    margin:auto;
    position: absolute;
    left: 0;
    right: 0;
    top:30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

img{
    width: 180px;
    height: 50px;
}

main div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

main div div{
    display: flex;
    flex-direction: row;
}

input{
    width:300px;
    height:50px;
    padding:5px 7px 5px 15px;
    border-radius:(4px);
}

.inicio{
    border:2px solid #ddd;
}
.correcto{
    border: 2px solid green;
}

.incorrecto{
    border: 2px solid red;
}

#marcar{
    width: 23px;
    height: 23px;
}

button{
    background:black;
    display:inline-block;
    width:100%;
    font-size:16px;
    height:50px;
    color:white;
    text-decoration:none;
    border:none;
    border-radius:(4px);
}

button:hover{
    background-color: #b6d420;
    color: black;
}

a{
    text-decoration-line: none;
    color: rgb(22, 20, 20);
}

a:hover{
    color: #b6d420;
    text-decoration-line: underline;
}

@media screen and (max-width: 480px){
    main{
        width:250px;
        padding:40px 40px;
        border-radius: 4px;
        left: 20px;
        right: 20px;
        top:20px;
        bottom: 20px;
    }

    .inicio{
        width:100%;
    }
}