body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background-color: black;
  color: #b6d420;
  height: 33vh;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}


.lupa {
  background-color: black;
  border: black 1px solid;
}

.lupa i {
  color: white;
}

.navegador {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.navegador input {
  margin: 0;
  width: 30vw;
  border: 1px black solid;
}

nav {
  background-color: black;
  width: 100%;
  height: 7vh;
  list-style: none;
  position: sticky;
  top: 0;
  z-index: 999;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  gap: 4%;
}

.dropbtn {
  background-color: black;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  padding: 12px 16px;
  display: block;
}

.dropdown-content a:hover {
  background-color: #b6d420;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: black;
}

header input {
  width: 400px;
  height: 40px;
}

header a {
  color: #b6d420;
  text-decoration: none;
}

header a:hover {
  color: #b6d420;
  text-decoration: underline;
}

header a i {
  font-size: 20px;
}

header a i:hover {
  color: white;
}


#arriba {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

#arriba div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

#abajo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#usario-incio {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#usario-incio a {
  width: 30px;
  height: 30px;
}

.titulo-producto {
  background-color: black;
  text-align: center;
  color: #b6d420;
  padding-top: 15px;
  padding-bottom: 15px;
}

.secciones {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 100px;
  margin-top: 70px;
}

.servicios {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 100px;
  margin-top: 70px;
}

.productos {
  padding-top: 40px;
  border: 1px solid black;
  text-align: center;
  width: 230px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.40s;
}

.productos:hover {
  border: 1px solid black;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  width: 260px;
  height: 310px;
  transition: 0.40s;
}

.productos p {
  font-size: larger;
}

main div section[class="productos"] img {
  height: 130px;
  width: 130px;
  /* imghvr-fold-left; */
}

.introduccion {
  margin-bottom: 60px;
  text-align: center;
  flex-basis: 230px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introduccion i {
  font-size: large;
  border: 1px solid black;
  padding: 10px;
  border-radius: 20px;
}

.introduccion i:hover {
  border: 1px solid #b6d420;
  color: #b6d420;
}

#tienda {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Users */


ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

.pagina-inicial {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

footer {
  background-color: black;
  text-align: center;
  margin-top: 5px;
  margin-left: 0px;
  display: flex;
  flex-direction: column;
}

footer iframe {
  height: 200px;
  width: 400px;
}

footer div:first-child {
  display: flex;
  border: 1px solid black;
  color: #b6d420;
  justify-content: space-around;
  margin-bottom: 20px;

}

.contacto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10%;
}

.contacto p:hover{
  color: white;
  cursor: pointer;
}

.redes-sociales {
  gap: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.redes-sociales a {
  text-decoration: none;
  color: #b6d420;

}

.redes-sociales a:hover {
  color: white;
  text-decoration: underline;

}

@media screen and (max-width: 480px) {
  body {
    margin: 0;
  }

  header img {
    width: 120px;
    height: 30px;
  }

  header {
    width: 100vw;
    display: flex;
    
  }

  .navegador{
    width: 50px;
    flex-direction: row;
  }

  .navegador input{
    padding: 0;
    margin: 0;
  }

  nav {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 4%;
    font-size: smaller;
  }

  .titulo-producto {
    width: 100vw;
  }

  .productos {
    height: 350px;
    width: 200px;
  }

  .servicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .secciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }

  .introduccion {
    width: 100vw;
  }

  footer {
    width: 100vw;
  }

  footer iframe {
    margin: 30px;
    width: 80vw;
  }

  main iframe {
    width: 80vw;
    height: 200px;
  }

  #tienda h3 {
    font-size: large;
  }
}


/* Pantalla de tablet */
@media screen and (min-width: 481px) and (max-width: 768px) {

  /* Selectores que se activan cuando la pantalla es menor a 768px
  y mayor a 481px */
  #abajo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  header {
    height: 43vh;
  }

  nav {
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    gap: 10%;
  }
}

/* Pantalla de portatil */
@media screen and (min-width: 769px) and (max-width: 1279px) {

  /* Selectores que se activan cuando la pantalla es menor a 1279px
  y mayor a 769px */
  #abajo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  header {
    width: 100vw;
    height: 34vh;
  }

  nav {
    width: 100vw;
    height: 30vh;
    gap: 4%;
  }
}