body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }    

table{
    border-collapse: separate;
    border-spacing: 0 10px;
    width: 100%;
    text-align: center;
}
.descripcion{
    font-size: small;
    padding: 0px;
}

.opciones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

td,th{
    padding: 10px;
}

tr:nth-child(odd){
    padding: 10px;
    background-color: black;
    color: white;

}

tr:nth-child(even){
    padding: 10px;
    background-color: #b6d420;

}

.suma, .resta, .edit {
  border-radius: 30%;
  color:black;
  border: inherit;
  padding: 10px;
}

.suma i, .resta i , .edit i{
  color: black;
  transition: 0.25s;
}

.suma{
  margin-top:80px;
  background-color: green;
}

.resta{
  background-color: red;
}

.edit{
  background-color: grey;
}

.suma i:hover, .resta i:hover , .edit i:hover{
  color: white;
  transition: 0.25s;
}