body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  main{
    margin-top: 50px;
  }
  .secciones{
    margin-top: 50px;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .productos {
    padding-top: 40px;
    border: 1px solid black;
    text-align: center;
    width: 230px;
    height: 410px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.40s;
  }
  
  .productos:hover {
    border: 1px solid black;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    scale: 1.1;
    transition: 0.40s;
  }
  
  .productos p {
    font-size: larger;
  }
  