body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main{
  margin-top: 40px;
}
.venta{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap:10px;

}

.opciones{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.cantidad, .botones, .cantidad-opciones{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.cantidad{
  gap: 10px;
}

.botones{
  gap: 10px;
}

.carrito, .comprar, .favoritos{
  padding: 20px;
  text-decoration: none;
}

.comprar{
  border-radius: 5%;
  color: black;
  background-color:#b6d420;
  transition: 0.3s;
}

.carrito, .favoritos{
  color:black;
  border: black 2px solid ;
  transition: 0.5s;
  cursor: pointer;
}

.carrito:hover, .favoritos:hover{
  color:#b6d420;
  transition: 0.5s;
}

.comprar:hover{
  transition: 0.3s;
  filter: sepia(30%);
}

.carrito{
  display: flex;
  align-items: center;
  gap: 10px;
}

.restar, .sumar{
  color: white;
  cursor: pointer;
  padding: 5px;
  border: 1px solid black;
  background-color: black;
} 
.restar:active, .sumar:active{
  background-color: #b6d420;
}

.numero{
  background-color: gainsboro;
  border: 1px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 8px;
  padding-left: 8px;
}

.imagen-producto{
  width: 200px;
  height: 200px;
}

h2{
  margin-top: 90px;
}

.mas-productos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}